
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2d7d7;
}

header {
    background-color: #35a735;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.encabezado {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

h2 {
    text-align: center;
    color: #333;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #2d572c; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

.titulo_galeria {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #2d572c;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria img {
    max-width: 100%;
    height: auto;
    width: 200px; 
    border-radius: 5px;
}

video {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #35a735;
    color: white;
    font-weight: bold;
}



section {
    padding: 20px;
    margin: 20px 10%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #35a735;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #2d8b2d;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a img {
    width: 30px;
    height: 30px;
}




